body {
    background-color: bisque;
}
.heading {
    background-image: url(../images/springflowers.jpg);
    min-height: 800px;
    width: 100%;
}
.bg-body-tertiary {
    background-color: bisque;
}
.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
.btn {
    background-color: rgb(234, 159, 213);
    border: none;
    color:black;
}
.btn:hover {
    background-color: bisque;
}
.breakoff {
    min-height:200px;
    background-color: rgb(234, 159, 213);
    display: flex;
    justify-content: space-around;
    align-items: center;
}